<div class="test-page-new-from-webcam"></div>

<div class="row">
  <div class="col-md-5 order-md-2">
    <div class="alert alert-info">
      <h1></h1> <%# just to align spacing %>
      <p class="mb-2"><strong><%= gettext "How to record your video:" %></strong></p>
      <ol style="padding-left: 20px;">
        <li><%= gettext "Read the question. Think about what you want to say." %></li>
        <li><%= raw gettext(~s(Make sure that your camera is enabled and your face is visible in the center of the preview window.)) %></li>
        <li><%= raw gettext(~s(When you're ready to start, click <strong class="text-danger">Start Recording</strong>)) %>.</li>
        <li><%= raw gettext("Tell your story! You'll have <strong>up to 5 minutes</strong> to speak. If you're not confident speaking in English, feel free to use 🇳🇱 Dutch, 🇩🇪 German, or 🇪🇸 Spanish.") %></li>
        <li><%= raw gettext(~s(Once you're done, click <strong class="text-danger">Stop recording</strong>. You'll get a chance to review, re-do, or download your recording before you submit it.)) %></li>
      </ol>

      <p><%= gettext "Resources:" %></p>
      <ul style="padding-left: 20px;">
        <li><%= link icon("ondemand_video", gettext(" How to record a great video")), to: "https://www.youtube.com/watch?v=rQwanxQmFnc&feature=youtu.be", target: "_blank", class: "text-primary" %></li>
        <li><%= link icon("error", gettext(" Report a problem")), to: "https://docs.google.com/forms/d/e/1FAIpQLSfssoCcvKgVx6Aj9RtdF16lfKVJiFHpy0G9zDXuZx1Wn5fUAw/viewform?usp=sf_link", target: "_blank", class: "text-danger" %></li>
      </ul>
    </div>
    <div class="alert alert-warning d-md-none">
      <p><strong><%= gettext "If you're recording on your phone:" %></strong></p>
      <ul style="padding-left: 20px;">
        <li><%= raw gettext(~s(⏱️ Please limit your video to <strong>5 minutes</strong>.)) %></li>
        <li><%= raw gettext(~s(📶 On a slow connection? For best results, first record the video using your phone's camera app. Then come back to this page and click "Upload Video".)) %></li>
      </ul>
    </div>
  </div>

  <div class="col-md-7">
    <%= custom_block @conn, "recording_page_intro" %>

    <h5><%= gettext "The question:" %></h5>
    <div class="text-success" style="font-size: 1.1em;">
      <%= raw HtmlSanitizeEx.basic_html(@prompt.html) %>
    </div>

    <div class="pb-4"></div>

    <div class="u-box-shadow" style="width: 100%; background-color: #000; overflow: hidden; border-radius: 10px; margin-bottom: 10px;">
      <div class="js-webcam-recording-container" style="max-width: 640px; max-height: 480px; margin: 0 auto 0 auto; position: relative; overflow: hidden;">
        <video class="js-recording-preview-video" controls="" autoplay="" style="width: 100%; height: 100%;"></video>
        <div class="js-recording-controls" style="position: absolute; top: 10px; left: 10px;">
          <span class="js-setting-up-recording btn btn-warning disabled"><%= gettext "Setting up video. Please wait..." %></span>
          <%= link icon("play_arrow", " " <> gettext("Start recording")), to: "#", class: "js-start-recording btn btn-success js-hidden" %>
          <span class="js-countdown badge badge-warning js-hidden"><%= gettext "Recording will start soon..." %></span>
          <%= link icon("stop", " " <> gettext("Stop recording")), to: "#", class: "js-stop-recording btn btn-danger js-hidden" %>
          <%= link icon("refresh", " " <> gettext("Start over")), to: "#", class: "js-restart-recording btn btn-warning js-hidden" %>
          <span class="js-time-remaining js-hidden" style="padding: 5px; color: #fff; background-color: #000; opacity: 0.5; border-radius: 5px;"></span>
        </div>
      </div>
    </div>

    <a class="u-hidden js-download-recording-link"></a>

    <div class="js-browser-not-compatible alert alert-danger js-hidden">
      <strong><%= gettext "This page requires a more up-to-date browser." %></strong>
      <%= raw gettext("For best results, we recommend using the latest version of <a href='https://www.google.com/chrome/'>Chrome</a> or <a href='https://www.mozilla.org/en-US/firefox/new/'>Firefox</a> to record your video.") %>
    </div>

    <div class="js-init-failed-alert alert alert-danger js-hidden">
      <%= gettext "We were unable to access your webcam for recording. Please check your browser's settings to allow this page to use your webcam and microphone." %>
    </div>

    <div class="pb-4"></div>

    <div class="js-interview-form-container js-hidden">
      <h5><%= gettext "Submit your recording" %></h5>

      <%= form_for @changeset, Routes.video_path(@conn, :create, @project, @prompt), [class: "js-suppress-enter"], fn(f) -> %>

        <div class="form-group">
          <div>
            <strong><%= gettext "Your name" %></strong>
            <span class="text-danger u-tooltip-target">
              <%= gettext "(required)" %>
              <div class="u-tooltip"><%= gettext "We need to know your name in order to protect your data ownership rights for this recording. Please feel free to reach out if you have any questions!" %></div>
            </span>
          </div>
          <%= text_input f, :speaker_name, class: "form-control", placeholder: gettext("Your name") %>
        </div>

        <div class="form-group">
          <label>
            <%= checkbox f, :permission_show_name, checked: true %>
            <span class="pl-2"><%= gettext "Show my name when showing this video" %></span>
          </label>
        </div>

        <div class="u-card u-box-shadow">
          <h4 class="text-danger"><%= gettext "Consent to our use of your data" %></h4>
          <div><%= custom_block @conn, "recording_page_consent_text" %></div>
        </div>

        <%= hidden_input f, :prompt_id, value: @prompt.id %>
        <%= hidden_input f, :recording_filename, value: "TO POPULATE", class: "js-recording-filename" %>

        <div class="text-center">
          <%= link gettext("Submit your recording"), to: "#", class: "js-upload-and-submit-btn btn btn-primary" %>
          <%= submit " ", class: "js-submit-form-btn js-hidden", style: "display: none;" %>
        </div>
      <% end %>
    </div>

    <div class="js-upload-data"
      data-filename-base='<%= @filename_base %>'
      data-urls='<%= Jason.encode!(@presigned_upload_urls) %>'></div>

    <div class="js-upload-progress-container js-hidden">
      <p><strong><%= gettext "We're saving your recording." %></strong> <br><%= gettext "Do not close or refresh the page until the upload is complete." %></p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 1%;"></div>
      </div>
    </div>

    <div class="js-upload-failed alert alert-danger js-hidden">
      <p><strong><%= gettext "There was an error uploading your recording." %></strong> <%= gettext "What you can do:" %></p>
      <ul>
        <li><%= link gettext("Retry upload"), to: "#", class: "js-retry-upload" %></li>
        <li><%= link gettext("Download my video for safekeeping (.webm)"), to: "#", class: "js-download-recording" %></li>
        <li><%= link gettext("Refresh the page and start over"), to: "", class: "text-danger" %></li>
      </ul>
    </div>
  </div>
</div>

<%# Bottom buffer %>
<div class="pb-5"></div>
