%p Hello #{@user.full_name},

%p Thank you for submitting a recording. The next step is to understand how your peers' responses resonate with you.

%p To do so, please click on the following link to start rating the responses:

%p= link "Categorize Submissions", to: session_url(Zb.Endpoint, :login_from_uuid, @user.uuid)

%p As a reminder, the question was: <em>#{@question.text}</em>

%p Thank you so much,

%p Whitney
