<h1>Edit project: <%= @project.name %></h1>

<%= render "_form.html",
  changeset: @changeset,
  path: Routes.manage_project_path(@conn, :update, @project.id) %>

<hr />

<%= link "Delete this project",
  to: Routes.manage_project_path(@conn, :delete, @project.id),
  method: :delete,
  data_confirm: "WARNING: This will irreversibly delete the project \"#{@project.name}\" and all of its data. Proceed?",
  class: "text-danger" %>
