<h1>Project: <%= @project.name %></h1>

<div>
  <h3>Basic info</h3>

  <ul>
    <li>Created <%= @project.inserted_at %></li>
  </ul>

  <%= link "Edit", to: Routes.manage_project_path(@conn, :edit, @project) %>
</div>

<div>
  <h3>Admins</h3>

  TODO
</div>
