<h1>Reassembling the Line: <%= gettext "Use this link to reset your password" %></h1>

<p><%= gettext "Please click the link below to set a new password for your account at Reassembling the Line." %></p>

<p><%= link @url, to: @url %></p>

<p><%= gettext "If you did not request a password reset, please ignore this email." %> <%= gettext "Maybe someone else entered your address by mistake." %></p>
