<%= raw gettext("By clicking the button below, you're giving consent for Reassembling the Line to store your data as part of this project, <a href=\"\" target=\"_blank\">%{project_name}</a>. See our <a href=\"%{data_policy_path}\" target=\"_blank\">data policy</a> for more information.", project_path: Routes.project_path(@conn, :show, @project), project_name: @project.name, data_policy_path: Routes.home_path(@conn, :your_data)) %>
