<div class="u-centered-1000">

  <h1>Help</h1>

  <ul>
    <li><%= link "Collecting videos", to: Routes.help_path(@conn, :collecting_videos) %></li>
    <li><%= link "Coding (tagging) videos", to: Routes.help_path(@conn, :coding_page) %></li>
  </ul>

</div>
