// I'm really happy with this composable twist on BEM.
//
// The rules:
//   * An element's style must be scoped to the block.
//   * A modifier's style must be scoped to the block and element.
//   * Elements are flat, their styles may not be combined or nested even if they are
//     in fact nested in the DOM.
//
// The benefits:
//   * Same as BEM, minimizes risk of style pollution / conflicting class names.
//   * Unlike BEM, the DOM markup needed is very concise. Almost never need to repeat
//     block or element names. This also makes the DOM classes read more friendlily.
//   * Low risk of conflict with other style frameworks, e.g. should be easy to
//     adopt this pattern in an existing app without causing drama.
//
// Next idea: instead of __ and -- prefix, try `b-` prefix for blocks, `e-` prefix for
// elements, and `m-` prefix for modifiers. The same conventions would hold as above.

.b-codingPageVideo {
  display: block;
  width: 100%;
  height: 380px;
  background-color: #222;
}

.b-codingPageTimeline {
  position: relative;
  width: 100%;
  height: 200px;
  color: #fff;

  background-color: #222;
  background-image:
    repeating-linear-gradient(
      45deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px /* determines size */
    );

  // TODO: At some point, implement a scrollbar or force the OSX scrollbar to display.
  .__scrollContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    ::-webkit-scrollbar {
      width: 15px; height: 15px;
    }
  }

  .__zoomControls {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    background-color: rgb(34, 68, 34);

    * { cursor: pointer; }
  }

  .__timeline {
    height: 100%;
    background-color: #242;
  }

  .__tickmarksContainter {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .__tickmark {
    position: absolute;
    top: 0px;
    // left is set dynamically
    width: 0px;
    border: 0.5px solid #000;

    &.--minor { height: 10px; border-color: rgba(255, 255, 255, 0.2); }
    &.--major { height: 15px; border-color: rgba(255, 255, 255, 0.4); }
  }

  .__tickLabel {
    position: absolute;
    top: 15px;
    // left is set dynamically
    text-align: center;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);

    &.--major { color: rgba(255, 255, 255, 0.8); }
  }

  .__taggingsContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .__tagging {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    z-index: 2;
    cursor: pointer;

    &:hover {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.5);
    }

    &.--selected {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.8);
      z-index: 4;
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    }

    &.--dragging {
      opacity: 0.5;
    }
  }

  .__taggingContent {
    position: relative;
  }

  .__taggingLabel {
    padding-left: 5px;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .__taggingButtons {
    position: absolute;
    top: 1px;
    right: 0px;

    > * {
      // display: inline-block;
      margin-right: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
  }

  .__taggingDragHandle {
    position: absolute;
    top: -0.6em;
    height: 2.5em;
    border: 3px solid #3C84FC;
    border-radius: 3px;
    cursor: ew-resize;
  }

  .__taggingDragHandleKnob {
    position: absolute;
    top: -14px;
    left: -7px;
    width: 14px;
    height: 14px;
    background-color: #3C84FC;
    border-radius: 10px;
  }

  .__cursorPrimary, .__cursorHover {
    position: absolute;
    top: 0px;
    // left is set dynamically
    height: 100%;
    width: 0px;
    border: 0.5px solid #000;
  }

  .__cursorPrimary {
    border-color: red;
    z-index: 3;
  }

  .__cursorHover {
    border-color: rgba(255, 0, 0, 0.5);
    z-index: 1;
  }

  .__cursorHoverTime {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 40px;
    padding: 5px;
    line-height: 1em;
    background-color: rgb(34, 68, 34);
    font-size: 10px;
    text-align: "center";
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
  }

  .__selection {
    position: absolute;
    top: 0px;
    // left is set dynamically
    // width is set dynamically
    height: 100%;
    border-left: 1px dashed red;
    border-right: 1px dashed red;
    background-color: rgba(255, 0, 0, 0.2);
    z-index: 3;
  }
}

.b-codingPageTagManager {

  .__list {
    height: 300px;
    overflow: auto;
    border: 1px solid #eee;
  }

  .__tag {
    position: relative;
    padding-left: 1.5em;

    &:hover {
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
      z-index: 3;
    }
  }

  .__tagColor {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    height: 1em;
    width: 1em;
    border-radius: 0.5em;
    // background-color is set dynamically
  }

  .__tagDetails {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .__tagTextEditField {
    height: 1.5em;
  }

  .__newTagTextField {
    height: 1.5em;
    border: none;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
}

//
// Shameful old styles
//

// OLD
.projectRow {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}

// OLD
.projectRow__title {
  font-weight: bold;
}

// OLD
.formField__error {
  color: #a00;
  background-color: #fee;
  padding: 5px;
}
