.help-block {
  display: inline-block;
  font-weight: bold;
  color: #a94442;
}

// From RTL
// .help-block {
//   font-size: 90%;
//   color: #721c24;
//   background-color: #f8d7da;
//   padding: 3px;
//   border-radius: 3px;
// }
