
body { padding-bottom: 100px; }
.container-fluid { padding-top: 20px; }

/* Sticky footer */
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Vertically center the text */
  background-color: #f5f5f5;
}

/* Bootstrap fixes */

label { cursor: pointer; }
.label a { color: #fff !important; }
.text-info { color: #275972; } /* original: #31708f. TODO: maybe revisit this now? */
/* TODO: Replace bootstrap.css with the scss version so we can override color vars */
.text-warning { color: #D07B0D !important; } /* #ffc107, which was way too light. */
.text-danger { color: #a94442 !important; }
table.table { width: auto; }
