# Rename this to secrets.exs and populate it with real values.
# Sensitive env vars can be set here, gitignored, and will be auto loaded (see config.exs)

use Mix.Config

%{
  SECRET_KEY_BASE: "blah",
  DB_USERNAME: "topher",
  DB_PASSWORD: "",
  DB_NAME: "educate_your_dev",
  DB_HOST: "localhost",
  AWS_ACCESS_KEY_ID: "abc123",
  AWS_SECRET_ACCESS_KEY: "def456"
} |> Enum.each(fn({key, value}) ->
  System.put_env(Atom.to_string(key), value)
end)

# Production values can also be noted here for safekeeping.
