# The dev secrets below are auto-loaded by config.exs.
# DO NOT check this file into Git.

use Mix.Config

System.put_env("HOST_NAME", "localhost:4000")
System.put_env("DATABASE_URL", "postgres://topher:@localhost/rtl_#{Mix.env()}")
System.put_env("SECRET_KEY_BASE", "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa")
System.put_env("SIGNING_SALT", "TODO")
System.put_env("SUPERADMIN_EMAILS", "hunt.topher@gmail.com")
System.put_env("ZIGGEO_APP_TOKEN", "TODO")

System.put_env("AWS_ACCESS_KEY_ID", "TODO")
System.put_env("AWS_SECRET_ACCESS_KEY", "TODO")
# For US S3 buckets, the host should be s3.amazonaws.com.
# For EU & other, the host should be s3-[REGION].amazonaws.com.
System.put_env("S3_HOST", "s3-eu-central-1.amazonaws.com")
System.put_env("S3_BUCKET", "TODO") # rtl-prod -> rtl-prod-eu
System.put_env("S3_REGION", "TODO") # us-east-1 -> eu-central-1

System.put_env("SMTP_SERVER", "blah")
System.put_env("SMTP_USERNAME", "blah")
System.put_env("SMTP_PASSWORD", "blah")

#
# Deployed environments
#

# Env vars to review on production:
# - HOST_NAME
# - DATABASE_URL (Heroku PG add-on automatically sets this)
# - SECRET_KEY_BASE (generate this using `mix phx.gen.secret`)
# - SIGNING_SALT (generate this using `mix phx.gen.secret`)
# - AWS_ACCESS_KEY_ID
# - AWS_SECRET_ACCESS_KEY
# - S3_BUCKET
# - S3_REGION
# - S3_HOST
# - SMTP_SERVER
# - SMTP_USERNAME
# - SMTP_PASSWORD
# - ROLLBAR_ACCESS_TOKEN (Heroku Rollbar add-on automatically sets this)
# - SUPERADMIN_EMAILS
# - ZIGGEO_APP_TOKEN
