# Rename this to secrets.exs and populate it with real values.
# The dev secrets below are auto-loaded by config.exs.
# DO NOT check this file into Git.

use Mix.Config

dev_secrets = %{
  SECRET_KEY_BASE: "blah",
  DB_USERNAME: "topher",
  DB_PASSWORD: "",
  DB_NAME: "educate_your_dev",
  DB_HOST: "localhost",
  AWS_ACCESS_KEY_ID: "abc123",
  AWS_SECRET_ACCESS_KEY: "def456",
  S3_BUCKET: "blah"
}

Enum.each(dev_secrets, fn({key, value}) ->
  if System.get_env(Atom.to_string(key)) do
    IO.puts "Mix secrets: #{key} is already set, so skipping."
  else
    System.put_env(Atom.to_string(key), value)
  end
end)

# Production values can also be noted here for safekeeping, e.g.:

production = %{
  # DATABASE_URL is set automatically by the Heroku Postgres add-on
  SECRET_KEY_BASE: "[FILTERED]", # generate using `mix phoenix.gen.secret`
  HOST_NAME: "blah",
  AWS_ACCESS_KEY_ID: "blah",
  AWS_SECRET_ACCESS_KEY: "blah",
  S3_BUCKET: "educate-your-prod",
  # Heroku PG hobby-dev allows 20 connections; leave two free for console access.
  # When I run other tasks, limit the pool size like this:
  # > heroku run "POOL_SIZE=2 mix ecto.migrate"
  POOL_SIZE: 18
}
