# The dev secrets below are auto-loaded by config.exs.
# DO NOT check this file into Git.

use Mix.Config

dev_secrets = %{
  HOST_NAME: "localhost:4000",
  DATABASE_URL: "postgres://topher:@localhost/rtl_dev",
  POOL_SIZE: 10,
  SECRET_KEY_BASE: "(run `mix phx.gen.secret`)",
  SESSION_SALT: "(run `mix phx.gen.secret`)",
  AWS_ACCESS_KEY_ID: "my_id",
  AWS_SECRET_ACCESS_KEY: "my_key",
  S3_BUCKET: "my_bucket_name"
}

Enum.each(dev_secrets, fn {key, value} ->
  if System.get_env("#{key}") do
    IO.puts("Mix secret #{key} is already set. Skipping.")
  else
    System.put_env("#{key}", "#{value}")
  end
end)

#
# Deployed environments
#
# Each deployed instance of the app will need the following env vars:
# - HOST_NAME
# - DATABASE_URL (set automatically by the Heroku PG add-on)
# - SECRET_KEY_BASE (generate this using `mix phx.gen.secret`)
# - SESSION_SALT (generate this using `mix phx.gen.secret`)
# - AWS_ACCESS_KEY_ID
# - AWS_SECRET_ACCESS_KEY
# - S3_BUCKET
#
