.inline-filter-block {
  display: inline-block;
  width: 150px;
  padding-bottom: 5px;
}

.js-playlist-container-outer {
  height: 400px;
  position: relative;
  overflow: hidden;

  .top-shadow, .bottom-shadow {
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0px;
  }

  .top-shadow {
    top: -10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }

  .bottom-shadow {
    bottom: -10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
}

.js-playlist-container {
  height: 400px;
  overflow: auto;
}

.js-playlist-row {
  border-top: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 85px;
  position: relative;
  height: 50px;
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;

  .play-icon {
    position: absolute;
    top: 10px;
    left: 25px;
    height: 30px;
    width: 30px;
    background-image: url('/images/play.png');
    background-size: cover;
    z-index: 1;
    display: none;
  }

  .js-thumbnail {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 70px;
    background-size: cover;
  }

  .js-playlist-title {
    font-weight: bold;
    white-space: nowrap;
  }

  .playlist-tags-container {
    white-space: nowrap;
  }


  .js-playlist-tag {
    display: inline-block;
    border-radius: 4px;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px 3px;
    margin: 1px;
    font-size: 85%;
  }

  &:hover {
    background-color: #e0e0e0 !important;
  }

  &.js-active {
    background-color: #eee;

    .play-icon {
      display: block;
    }
  }
}
