ul.likert-list {
  list-style: none;
  label {
    cursor: pointer;
    font-weight: normal;
  }
  input {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }
}

.vote-tags-container {
  a.btn {
  }
  a.btn.active {
    font-weight: bold;
  }
}
