.centered-1000

  %h1 Video collection

  %p RTL gives you various ways to insert interview videos into the database.

  .gap-10

  %h4 Webcam recording

  .row
    .col-sm-8

      %p
        Give your interviewees the following link
        -# Work around more phoenix_haml madness
        = "(for example, by sending the link to a mailing list)"
        so they can record and submit their own interview online using their webcam.
        Each submitted interview will appear in the list of videos to code.
        Click the link to test it out yourself.

      %p.text-center
        = link Routes.collect_webcam_recording_url(@conn, :new), to: Routes.collect_webcam_recording_url(@conn, :new)

      %div Notes:
      %ul
        %li Requires a webcam. Also requires <span class="text-danger">Chrome or Firefox web browser</span> (for now).
        %li Older or less tech-savvy users may have difficulty doing the recording.
        %li The link isn't protected or tracked (for now), so a person could submit multiple interviews if they choose to, and the admin will need to clean them up later on.

    .col-sm-4
      %img.box-shadow{src: "/images/webcam_recording_sample.jpg", style: "width: 100%;"}

  .gap-10

  %h4.text-muted Admin upload

  %p.text-muted.em Coming soon!
