<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>RTL</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "_nav_links.html", Map.merge(%{conn: @conn}, @conn.assigns) %>

    <main>
      <div class="container-fluid">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <div class="text-center small">
        <span class="text-muted"></span>
        Built by Whitney Hunter-Thomson and <%= link "Topher Hunt", to: "http://topherhunt.com", target: "_blank" %>
        &nbsp; &nbsp;
        <%= link "Open source on Github", to: "https://github.com/topherhunt/reassembling-the-line", target: "_blank" %>
        &nbsp; &nbsp;
        <%= link "Contact us", to: contact_us_url(), target: "_blank" %>
      </div>
    </footer>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
