.row
  .col-sm-8
    %h1{style: "margin-top: 0px;"} Explore
    %div{style: "padding-bottom: 5px;"}
    %video.js-explore-video-player{style: "display: block; width: 100%; height: 480px; background-color: #222;", controls: "", autoplay: ""}
    %a.js-hear-more-link{href: "#", style: "display: none;"} Hear more from this person

  .col-sm-4
    %h3 Filter by tag
    %select.js-chosen-select.js-filter-tag{data-placeholder: "Click to add a filter", multiple: ""}
      - Enum.map(@tag_options, fn(tag) ->
        %option{value: "#{tag.value}"}= tag.label
    %h3 Playlist
    .js-playlist-container-outer
      .js-playlist-container
      .top-shadow
      .bottom-shadow
