.centered-600
  %h1 You're done!

  %p Thank you for all your hard work! We don't have any more interviews for you to rate today. We will email you when more become available. All of the results will be shared during The Marketing Committee's session at the Faculty Meeting in May.
